<section id="mainheader" class="bg-dark header-image">
  <div class="container-fluid">
    <div class="row text-center height align-items-center">
      <div class="col">
        <h1 class="text-white display-2">
          <strong class="text-secondary">Fearless Souls</strong>
          <br>
          <small class="font-weight-light">Soar Up high</small>
        </h1>
        <div class="d-flex justify-content-center">

          <p class="lead text-capitalize text-white w-50 py-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem veritatis numquam unde odio porro itaque alias
            cupiditate consequuntur nemo velit perspiciatis quas quod rem soluta, iure consequatur ipsum eius nesciunt provident
            nihil veniam similique doloremque quisquam ducimus! Quod et enim iure libero, nesciunt reprehenderit</p>
        </div>

        <a href="" class="btn btn-outline-secondary px-5 mx-5 text-uppercase my-5 font-weight-bold">Sign Up</a>
        <a href="" class="btn btn-outline-secondary px-5 text-uppercase font-weight-bold">Log In</a>
      </div>
    </div>
  </div>
</section>